section.bg-blackboard
  h3.fixed 2. Trabalhos relacionados
  section
    h4 Plumbley, Abdallah, Blumensath, Davies:<br/><em>Sparse Representations of Polyphonic Music</em> (2006)
    ul
        li.fragment Derivar um dicionário de espectros de energia de um corpus de audio
        li.fragment Sintetizar sobreposicionando os espectros de um dicionário (<em>code book</em>) aproximadamente (sem fases)
        li.fragment Métodos: Fatorização não-negativa, estimação de variância
        li.fragment Rápido, mas com  incerteza tempo-frequência

  section
    h4 Incerteza tempo-frequência
    ul(style="list-style-type: none;")
        li.fragment Seja $p(x)$ a função de probabilidade de densidade;
        li.fragment e $$H(p) = - \int\limits_{-\infty}^{\infty}~~ p(x)~ log\big(p(x)\big) \mathrm{d}x$$ a entropia diferencial.
        li.fragment Incerteza de Hirschman: $$H\big(\left|f\right|^2\big)~ +~ H(\left|F\right|^2)~\geq~\log(e/2)$$

  section
    h4 Gardner e Magnasco:<br/><em>Sparse time-frequency representations</em> (2006)
    div.uls(style="font-size:0.70em;width:600px")
        ul
            li.fragment Representações tempo-frequência reatribuída
            li.fragment Rastreamento de sinais simples e isolados
            li.fragment Transformação: $T_{\{x\}}:~(\omega,~t)~ \rightarrow~ (\omega_{inst},~t_{inst})$
            li.fragment Precisão de $~t_{inst}~$ ilimitada
            li.fragment Resolução de $~\omega_{inst}~$ ótima (Incerteza Fourier)
            li.fragment Classe de reatribuição complexa

  section
    h4 Gardner e Magnasco:<br/><em>Sparse time-frequency representations</em> (2006)
    div.col-left.uls(style="font-size:0.45em;width:300px")
        ul
            li Representações tempo-frequência reatribuída
            li Rastreamento de sinais simples e isolados
            li Transformação: $T_{\{x\}}:~(\omega,~t)~ \rightarrow~ (\omega_{inst},~t_{inst})$
            li Precisão de $~t_{inst}~$ ilimitada
            li Resolução de $~\omega_{inst}~$ ótima (Incerteza Fourier)
            li Classe de reatribuição complexa
    div.col-right(style="width:600px")
      img(src='img/trans_w-t_wins-tins.png')
    div(style="clear:both")

  section
    h4 Smith, Lewicki: <em>Efficient Coding of Time-Realative Structure Using Spikes</em> (2005)
    ul
        li.fragment Sobreposição linear de kernels deslocável no tempo
        li.fragment Algoritmos usados:
        ul
            li.fragment Limiar de filtro (<em>Filter Threshold</em>)
            li.fragment Busca de correspondências (<em>Matching Pursuit</em>)
            li.fragment Otimização MAP (<em>MAP Optimization</em>)

