section.bg-gammatones
  h3.fixed Aprendizagem de kernels
  section
    h4 Abordagem
      ul
          li.fragment Usar kernels treinados a partir de um corpus de músicas
          li.fragment Esperança que eles capturem caraterísticas das músicas e
          li.fragment melhor codifiquem uma música.
  section
    h4 Treino
    div.col-left(style="font-size:0.60em")
      ol
          li.fragment initializar 32 kernels com valores aleatórios (Gauss)
          li.fragment codificar uma música da coleção
          li.fragment computar resíduo
          li.fragment ascender gradiente
          li.fragment formula (2)
          li.fragment 2000 iterações de aprendizagem por canção
          li.fragment kernels crescem continuamente
    div.col-right
      img.fragment(src='img/learning_kernels.png', style="width:60%;height:60%")
    div(style="clear:both")

  section
    h4 Eficaz da Codificação
    div.col-left(style="font-size:0.60em")
        ul
            li.fragment Codificar músicas do corpus com número máximo de spikes
            li.fragment Gammatones tem desempenho melhor (!!!)
            li.fragment Aprendizagem de kernels para música complexa é um desafio
    div.col-right
        img.fragment(src='img/tab3.png', style="width:80%;height:80%")
    div(style="clear:both")
  section
    h4 Reconhecimento de Genero
    div.col-left(style="font-size:0.60em")
        ul
            li.fragment Codificar uma música com um número máximo de <em>spikes</em>
            li.fragment Avaliação cruzada
            li.fragment Resultado: kernels aprendidos tem desempenho comparável
    div.col-right
        img.fragment(src='img/tab4.png', style="width:80%;height:80%")
    div(style="clear:both")


