section.bg-blackboard
  section
    h4 Trabalhos relacionados
    ul(style="font-size:0.70em")
      li
        h5 No domínio da frequência
        ul
          li.fragment Plumbey and Abdallah
            p Derivar um dicionário de power spectra de um corpus de audio + note detection
          li.fragment Gardner and Magnesco
            p Computar uma transformação do spectrograma buscando maior precisão
      li
        h5 Domínio do tempo
        ul
          li.fragment Smith and Levicky
          p ???
