section(class="bg-invert")
    h2 On the use of sparse time-relative auditory codes for music
    p Pierre-Antoine Manzagol - Thierry Bertin-Mahieux - Douglas Eck
    p Université de Montréal - Department of Computer Science
