section.bg-gammatones
  h3.fixed Aprendizagem de kernels
  section 
    h4 Abordagem
      ul
          li.fragment Usar kernels treinados a partir de um corpus de músicas
          li.fragment Esperança que eles capturem caraterísticas das músicas e
          li.fragment melhor codifiquem uma música.       
  section
    h4 Treino
    div.col-left(style="font-size:0.60em")
      ol
          li.fragment initializar 32 kernels com valores aleatórios (Gauss)
          li.fragment codificar uma música da coleção
          li.fragment computar resíduo
          li.fragment ascender gradiente
          li.fragment formula (2)
    div.col-right
      img.fragment(src='img/learning_kernels.png', style="width:60%;height:60%")
    div(style="clear:both")

  section
    h5 Núcleos treinados vs gammatones
    p Primeiro experimento
    img(src='img/learned_vs_gamma.png')
    img(src='img/tab3.png', style="width:60%;height:60%")
    p Segundo experimento
    img(src='img/exp2.png')
