section.bg-gammatones
  section
    h4 5. Reconhecimento de gênero
    img(src='img/distr.png', style="width:50%;height:50%")
    img(src='img/spikes_to_represent.png', style="width:50%;height:50%")
    p(style='font-size:0.4em')
      span SNR médio de 100 músicas do &nbsp;
      a(src="http://marsyasweb.appspot.com/download/data_sets/") Tzanetakis genre dataset
      span &nbsp; (10 de cada gênero)
    p(style='font-size:0.4em')
      span 64 kernels, divididos em 8 seções (por frequência representada)
  section
    h4 5. Reconhecimento de gênero
    h3 5.1 Algoritmo
    p.highlight AdaBoost.MH
    p
      img(src='img/eq2.png')
  section
    h4 5. Reconhecimento de gênero
    h3 5.2 Features do spikegram
    p . . .
  section
    h4 5. Reconhecimento de gênero
    h3 5.3 Resultados
    p . . .
