section.bg-gammatones
  section
    h4 6. Aprendizagem de núcleos
  section
    h4 6. Aprendizagem de núcleos
    h5 6.1 Algoritmo
  section
    h4 6. Aprendizagem de núcleos
    h5 6.2 Núcleos aprendidos vs gammatones
    img(src='img/learned_vs_gamma.png')
