section.bg-blackboard
  h3.fixed Trabalhos relacionados
  section
    h6 Plumbley, Abdallah, Blumensath, Davies: <em>Sparse Representations of Polyphonic Music</em>
    ul
        li.fragment Derivar um dicionário de espectros de energia de um corpus de audio
        li.fragment Sintetizar superposicionar espectros de um dicionário (<em>code book</em>)
        li.fragment Sem fases
