section.bg-invert
  section.folder
    h3 Sobre o uso de codificação esparsa relativa ao tempo para música
    p.authors Pierre-Antoine Manzagol - Thierry Bertin-Mahieux - Douglas Eck
    p.authors2 Université de Montréal - Department of Computer Science
    hr
    p.presenters Thilo Koch - Arthur Tofani
  section.folder
    h3 On the use of sparse time-relative auditory codes for music
    p.authors Pierre-Antoine Manzagol - Thierry Bertin-Mahieux - Douglas Eck
    p.authors2 Université de Montréal - Department of Computer Science
    hr
    p.presenters Thilo Koch - Arthur Tofani
