section.bg-invert
  h3.fixed Discussão e trabalhos futuros
  section
    h5 Trazer visibilidade para codificação esparsa no domínio do tempo
    ul
      li Como usar em atividades de MIR
      li Aprendizagem em caso de músicas complexas
      li Complexidade computacional - acima do desejado
