section.bg-adaboost
  h3.fixed 5. Reconhecimento de gênero
  section
    div.easyzoom
    img(src='img/distr.png', style="width:50%;height:50%")
    img(src='img/spikes_to_represent.png', style="width:50%;height:50%")
  section
    img(src='img/tab1.png')
    p(style='font-size:0.4em')
      span SNR médio de 100 músicas do &nbsp;
      a(src="http://marsyasweb.appspot.com/download/data_sets/") Tzanetakis genre dataset
      span &nbsp; (10 de cada gênero)
    p(style='font-size:0.4em')
      span 64 kernels, divididos em 8 seções (por frequência representada)
  section
    h4 5. Reconhecimento de gênero
    h5 5.1 Algoritmo
    p.highlight AdaBoost.MH
    p
      img(src='img/eq2.png')
  section
    p.highlight AdaBoost
    iframe(width="560", height="315", src="https://www.youtube.com/embed/ZO156OQ970A", frameborder="0", allowfullscreen)
  section
    h4 5. Reconhecimento de gênero
    h5 5.3 Resultados
    p
      img(src='img/results.png')
