section.bg-gammatones
  h3.fixed Aprendizagem de kernels
  section
    h5 Algoritmo
    img(src='img/learning_kernels.png', style="width:60%;height:60%")
  section
    h5 Núcleos treinados vs gammatones
    p Primeiro experimento
    img(src='img/learned_vs_gamma.png')
    p Segundo experimento
    img(src='img/exp2.png')
