section.bg-gammatones
  h3.fixed Codificação usando núcleos de gammatones
  section
    img(src='img/gammatone_encoding.png', style="width:80%;height:80%")
  section
    img(src='img/spikes_both.png', style="width:118%;height:118%")
    ul(style='font-size:0.6em')
      li Jazz examples
        p
          audio(controls)
            source(src="img/jazz01.mp3", type="audio/mpeg")
          audio(controls)
            source(src="img/jazz02.mp3", type="audio/mpeg")
      li Heavy Metal examples
        p
          audio(controls)
            source(src="img/metal01.mp3", type="audio/mpeg")
          audio(controls)
            source(src="img/metal02.mp3", type="audio/mpeg")
  section
    ul(style='font-size:0.6em')
      li Sinal reconstruído
        audio(controls)
        source(src="img/jazz01_reconstructed.mp3", type="audio/mpeg")
      li Sinal residual
        audio(controls)
        source(src="img/jazz01_residual.mp3", type="audio/mpeg")
