section.bg-gammatones
  h3.fixed 6. Aprendizagem de kernels
  section
    h4 Abordagem
    ul
        li.fragment Usar kernels treinados a partir de um corpus de músicas
        li.fragment Esperança que eles capturem caraterísticas das músicas e
        li.fragment melhor codifiquem uma música.
  section
    h4 Treino
    div
      ol
        li.fragment Inicializar 32 kernels com valores aleatórios (Gauss)
        li.fragment Codificar uma música da coleção
        li.fragment Computar resíduo
        li.fragment Ascender gradiente
        li.fragment 2000 iterações de aprendizagem por música
        li.fragment Kernels crescem continuamente

  section
    h4 Treino
    div.col-left(style="font-size:0.50em;width:300px")
      p
      ol
        li Initializar 32 kernels com valores aleatórios (Gauss)
        li Codificar uma música da coleção
        li Computar resíduo
        li Ascender gradiente (otimização dos kernels)
        li 2000 iterações de aprendizagem por música
        li Kernels crescem continuamente
    div.col-right(style="width:600px")
      img(src='img/learning_kernels.png')
    div(style="clear:both")

  section
    h4 Eficácia da Codificação
    div(class="col-left uls", style="font-size:0.70em")
        ul
            li.fragment Codificar músicas do <em>corpus</em> com número máximo de spikes
            li.fragment <em>Gammatones</em> tem desempenho melhor (!!!)
            li.fragment Aprendizagem de kernels para música complexa é um desafio
    div.col-right
        img.fragment(src='img/tab3.png', style="width:80%;height:80%")
    div(style="clear:both")
  section
    h4 Reconhecimento de Genero
    div(class="col-left uls" style="font-size:0.60em")
        ul
            li.fragment Codificar uma música com um número máximo de <em>spikes</em>
            li.fragment Avaliação cruzada
            li.fragment Resultado: kernels aprendidos têm desempenho comparável
    div.col-right
        img.fragment(src='img/tab4.png', style="width:80%;height:80%")
    div(style="clear:both")


