section.bg-invert
  h3.fixed 7. Discussão e trabalhos futuros
  section
    h5 Trazer visibilidade para codificação esparsa no domínio do tempo
    ul
      li Uso desta representação em atividades de MIR
      li Aprendizagem de kernels em sinais <em>complexos</em>
      li Complexidade computacional - acima do desejado
