section(data-background-color='#446971')
  h1 Slide 2 - 2
  ul
    li.fragment item1
    li.fragment item2
    li.fragment item3
    li.fragment item4
  pre
    code
      | var linearMultHash = function(n, HASH_TABLE_SIZE) {
      |   var A = 0.642384983213213;
      |   var value = n * A;
      |   value = value * (int)value;
      |   return value * HASH_TABLE_SIZE;
      |}
