section.bg-blackboard
  h3.fixed 2. Trabalhos relacionados
  section
    h4 Plumbley, Abdallah, Blumensath, Davies:<br/><em>Sparse Representations of Polyphonic Music</em> (2006)
    ul
        li.fragment Derivar um dicionário de espectros de energia de um corpus de audio
        li.fragment Sintetizar superposicionando espectros de um dicionário (<em>code book</em>) aproximadamente (sem fases)
        li.fragment Métodos: Factorização não-negativa, estimação de variança
        li.fragment Rápido, mas incerteza tempo-frequência

  section
    h4 Gardner e Magnasco:<br/><em>Sparse time-frequency representations</em> (2006)
    div.col-left(style="font-size:0.70em")
        ul
            li.fragment Representações tempo-frequência reatribuída
            li.fragment Rastreamento de sinais simples e isolados
            li.fragment Transformação: $T_{\{x\}}:~(\omega,~t)~ \rightarrow~ (\omega_{inst},~t_{inst})$
            li.fragment Precisão de $~t_{inst}~$ ilimitada
            li.fragment Resolução de $~\omega_{inst}~$ ótima (Incerteza Fourier)
            li.fragment Classe de reatribuição complexa
    div.col-right
      img.fragment(src='img/trans_w-t_wins-tins.png')
    div(style="clear:both")

  section
    h4 Smith, Lewicki: <em>Efficient Coding of Time-Realative Structure Using Spikes</em> (2005)
    ul
        li.fragment Sobreposição linear de kernels deslocável no tempo
        li.fragment Algoritmos usados:
        ul
            li.fragment Limiar de filtro (<em>Filter Threshold</em>)
            li.fragment Busca de correspondências (<em>Matching Pursuit</em>)
            li.fragment Otimização MAP (<em>MAP Optimization</em>)

