head
  meta(charset="UTF-8")
  title On the use of sparse time-relative auditory codes for music
  meta(name="description" content="Create your presentations never been so easy with code.")
  meta(name="author" content="Pierre-Antoine Manzagol et al")
  meta(name="author" content="Thilo Koch & Arthur Tofani")
  meta(property="og:type" content="website")
  meta(property="og:image" content="img/first-spikegram-closer.png")
  meta(property="og:description" content="Presentation for MIR classes - University of Sao Paulo 2016")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.css")
