script(src="js/vendor/head.min.js")
script(src="js/vendor/reveal.min.js")
script(src="js/vendor/reveal.min.js")
script(src="js/main.js")
script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
script.
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});