script(src="js/vendor/head.min.js")
script(src="js/vendor/reveal.min.js")
script(src="js/vendor/reveal.min.js")
script(src="js/main.js")
script(src="js/easyzoom.js")
script(src="https://code.jquery.com/jquery-3.1.0.slim.min.js")
script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
script.
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
script.
  var $easyzoom = $('.easyzoom').easyZoom();