/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"
@import 'vendor/jeet/stylus/jeet/_jeet.styl'
/*
* In src/styl/reveal-themes have more themes !!
*/
@import "reveal-themes/blood"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/atelier-cave-dark"

.bg-invert
	background-image: url(../img/background-invert.png)
.bg-gammatones
	background-image: url(../img/background2.png)
.bg-blackboard
	h1, h2, h3, h4, h5
		color: white
	color: yellow
	background-image: url(../img/bg-blackboard.jpg)
	background-size:cover
.highlight
	color: yellow
.col-left
	float:left
	width: 400px
.col-right
	float:right
	width: 500px
